@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: var(--be-vn-pro);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Color var */
:root {
  --light-blue: #46aecf;
  --low-white: #f7f7f7;
  --all-white: #FFFFFF;

  /*font var*/
  --be-vn-pro:"Be Vietnam Pro", sans-serif;
}

.bg-lightblue {
  background-color: var(--light-blue);
}

.bg-allwhite {
  background-color: var(--all-white);
}

.text-allwhite{
  color: var(--all-white);
}

.text-lightblue{
  color: var(--light-blue);
}

.text-small{
  font-family: var(--be-vn-pro);
  font-size: 20px;
}